<footer class="text-center mt-5  bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>&#128222; 06 00 00 00 00</p>
            </div>
            <div class="col-md-4">
                <p> &#128233; info@landofa.com</p>
            </div>
            <div class="col-md-4">
                <p> &#127968; 5 rue des tartres Cormeilles en parisis</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="#"><img src="images/footer/facebook.png" class="img-fluid"/></a>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="images/footer/instagram.jpg" /></a>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="images/footer/facebook.png" /></a>
            </div>
        </div>
            
    </div>
</footer>